<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title>Rails Vite Wheel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_typescript_tag 'index.tsx' %>

    <!--
      If using a TypeScript entrypoint file:

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>
  <body class="h-full">
    <%= yield %>
  </body>
</html>
